# --- local
POSTGRES_DB=sparrow
POSTGRES_USER=sparrow
POSTGRES_PASSWORD=secret
DB_DSN=postgres://sparrow:secret@db:5432/sparrow?sslmode=disable
PORT=8080

# --- prod
# DATABASE_URL=postgres://USER:PASSWORD@HOST:5432/sparrow?sslmode=require
